{% extends "base.html" %}
{% block content %}
<div class="div-main-text" style="top: 10%;">
    <p class="p-main-item" style="font-size: 300%; text-align: left;">
        Something about us
    </p>
    <p class="p-main-item" style="font-size: 200%; text-align: left;">
        HRMusicCloud is useless streaming platform for listening High
        Resolution Music.
    </p>
    <p class="p-main-item" style="font-size: 200%;; text-align: left;">
        Our main goal is to develop a society of people who love music in its
        highest quality nature.
    </p>
    <p class="p-main-item" style="font-size: 200%; text-align: left;">
        We really hope that you will like our product, and you will enjoy
        using it!
    </p>
    <p class="p-main-item" style="font-size: 150%; text-align: right;">
        <i>HRMusicCloud team</i>
    </p>
</div>
{% endblock %}