{% extends "base.html" %}
{% block style_sheet %}
<link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='css/style_privacy_policy.css') }}">
{% endblock %}
{% block content %}
<div class="div-main-text" style="top: 10%;">
    <p class="p-main-item" style="font-size: 45px; text-align: left;">
        Privacy Policy
    </p>
    <p class="p-main-item" style="font-size: 30px; text-align: left;">
        Я не знаю как составлять правильно такой документ как
        "Политика Конфиденциальности", поэтому я просто здесь напишу
        прикольные факты о собачках :D
    </p>
    <ol style="font-size: 25px; text-align: left;">
        <li>Собаки облизывают людей и других собак по разным причинам</li>
        <li>Облизывание кого-то помогает собакам чувствовать себя лучше</li>
        <li>Собаки крутятся на месте прежде, чем лечь на землю, ввиду инстинкта</li>
        <li>Вы никогда не должны оставлять свою собаку одну в машине</li>
        <li>Щенки рождаются слепыми и глухими</li>
        <li>Собаки понимают силу «щенячьих глаз»</li>
        <li>Собаки улучшают ваше отношение</li>
        <li>Одна из самых дорогих пород остаётся популярной с эпохи Возрождения</li>
        <li>Собаки могут понимать до 250 слов и жестов</li>
        <li>Развенчание мифа о том, что мокрый нос у собак – это признак хорошего здоровья</li>
        <li>Собаки знают, как вы себя чувствуете</li>
        <li>У собак исключительный нюх</li>
        <li>Собаки дышат не так, как люди</li>
        <li>Собаки могут ревновать</li>
        <li>Их лапы могут пахнуть попкорном</li>
        <li>Собаки-поводыри ходят в туалет по команде</li>
        <li>Клички собак сильно изменились с течением временем</li>
        <li>Собаки роют ямы, чтобы пережить жару</li>
        <li>Собаки роются в земле, чтобы спрятать что-либо</li>
        <li>Собаки принимают позу «Поклон», чтобы сигнализировать о практике нападения</li>
    </ol>
</div>
{% endblock %}